In [10]:
import sqlite3

In [11]:
db = sqlite3.connect("sql_worksheet.db")

In [12]:
cursor = db.cursor()

In [16]:
cursor.execute("CREATE TABLE Customers1 (customerNumber INT PRIMARY KEY, customerName TEXT,contactLastName TEXT,contactfirstName TEXT,phone INT, addressLine1 TEXT, addressLine2 TEXT, city TEXT, state TEXT, postalCode INT, country TEXT, salesRepEmployeeNumber INT, creditLimit INT )")

In [18]:
cursor.execute("CREATE TABLE Orders1 (orderNumber INT PRIMARY KEY, orderDate INT, requiredDate INT, shippedDate INT, status TEXT, comments TEXT, customerNumber INT) ")

In [19]:
db.commit()

In [20]:
results = cursor.execute("SELECT * FROM Orders")
for row in results:
    print(row)

In [21]:
results

In [33]:
cursor.execute("INSERT INTO Customers1 (customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit)VALUES(112,'yogesh bhonde','bhonde','geeta',9988112233,'prasad nagar','ringroad','pune','MH',440056,'India',501,1000)")

In [34]:
db.commit()

In [36]:
print(cursor.rowcount, "Record(s) Inserted")

1 Record(s) Inserted

In [56]:
cursor.execute("INSERT INTO Orders(orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber) VALUES( 2347,12/03/2020,'15/03/2020','13/03/2020','shipped','dispatched',112)")

In [57]:
db.commit()

In [58]:
print(cursor.rowcount,"record(s) Inserted")

1 record(s) Inserted

In [59]:
results = cursor.execute("SELECT * FROM Orders")
for row in results:
    print(row)

(2345, 0, 0, 0, 'shipped', 'dispatched', 112)
(2347, 0, '15/03/2020', '13/03/2020', 'shipped', 'dispatched', 112)

In [60]:
sql = "SELECT * FROM Orders WHERE comments = 'dispatched' "
result = cursor.execute(sql)
for row in result: 
    print(row)

(2345, 0, 0, 0, 'shipped', 'dispatched', 112)
(2347, 0, '15/03/2020', '13/03/2020', 'shipped', 'dispatched', 112)

In [61]:
sql = "SELECT * FROM Orders WHERE orderDate = 12/03/2020 "
result = cursor.execute(sql)
for row in result:
    print(row)

(2345, 0, 0, 0, 'shipped', 'dispatched', 112)
(2347, 0, '15/03/2020', '13/03/2020', 'shipped', 'dispatched', 112)

In [64]:
cursor.execute ("CREATE TABLE employees1(employeeNumber INT PRIMARY KEY,lastname TEXT,firstName TEXT,extension INT,email TEXT, officeCode TEXT, reportsTo TEXT, jobTitle TEXT) ")

In [65]:
cursor.execute("INSERT INTO employees1(employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle) VALUES (601,'raj','prakash',22,'prakash.raj@gmail.com','DEL23','Sangita Meshram','Assistant')")

In [66]:
db.commit()

In [67]:
print(cursor.rowcount,"record(s) Inserted")

1 record(s) Inserted

In [68]:
results = cursor.execute("SELECT * FROM employees1 ")
for row in results:
    print(row)

(601, 'raj', 'prakash', 22, 'prakash.raj@gmail.com', 'DEL23', 'Sangita Meshram', 'Assistant')

In [72]:
sql = "SELECT employeeNumber,lastname,firstName FROM employees1"
result = cursor.execute(sql)
for row in results:
    print(row)

(601, 'raj', 'prakash')